@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Nick's Page";

}


<!--Header with my perfered name-->
<h1>Nick Harris</h1>
<!--Image of me doing something I love - Skiing-->
<img src="img/skiingwithdad.jpg" />
<p>As you can see, I really enjoy Skiing with my Dad!</p>
<!--Paragraph explaining what I hope to get out of this course.-->
<p>
    I hope to really improve and establish my skills in C#.
    I hope I can use my c# skills to be a valuable employee at some point.
    This website shows a little of what I have learned, and it is my first web application.
</p>
<br />
<!--My top 3 jobs I am interested in pursuing-->
<h3>Top 3 Jobs that I am most interested in:</h3>
<ul>
    <li>Software Developer</li>
    <li>Data Analyst</li>
    <li>Project Manager</li>
</ul>
<br />

